<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Auth using Session </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome Gokul :)</h1>
        <form action="/logout" method="post">
            <input class="logout" type="submit" value="Logout" > 
        </form>
    </div>
</body>
</html>