<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Auth using Session </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
       <div class="card" >
            <h2>Login</h2>
            <form action="/login" method="post" >
                <label for="email">Email</label>
                <input type="email" name="email" required id="email" />
                <label for="password"> Password </label>
                <input type="password" name="password" id="password" required  />
                <input type="submit" value="Login">
            </form>
       </div>
        <div class="btn">
            <p>If you haven't Account </p>
            <a href="/register"> Register </a>
        </div>
    </div>
</body>
</html>